body { background: #3652f; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 18px; display: flex; }
.block-metrics-0 { color: #dc6c5e; font-size: 19px; margin-bottom: 5px; }
.block-invoice-1 { color: #db48bf; font-size: 18px; margin-bottom: 5px; }
.block-order-2 { color: #4fe827; font-size: 14px; margin-bottom: 5px; }
.block-metrics-3 { color: #f8c0b3; font-size: 18px; margin-bottom: 5px; }
.block-auth-4 { color: #c1ebf; font-size: 21px; margin-bottom: 5px; }